@media screen and (max-width: 768px) {
	.dashboard-wrapper {
		margin: 20px;
		.button-wrapper {
			.expenses-btn {
				margin-right: 10px;
			}

			.add-btn {
				width: auto;
				height: auto;
				padding: 20px 30px;
			}
		}
	}

	.expenses-wrapper {
		h2 {
			font-size: 30px;
		}

		.expenses-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.expense-details {
				width: calc(48% - 20px);
				height: auto;
				padding: 10px;
				flex-direction: column;
				.expense-create-wrapper {
					width: 100%;
					margin-bottom: 20px;
					justify-content: space-between;
					.wallet-img,
					.settle-img,
					.created-date {
						margin-right: 0px;
					}
					.created-date {
						margin-bottom: 10px;
					}
					.expense-info-wrapper {
						flex-direction: column;
						align-items: start;
					}
				}

				.payment-details {
					margin-right: 0;
					.money-img {
						margin-right: 0;
					}
				}
			}
		}

		.settle-list {
			.expense-details {
				align-items: start;
				.expense-create-wrapper {
					flex-direction: column;
					align-items: start;

					.info-wrapper {
						width: 100%;
						justify-content: space-between;

						.date-info-wrapper {
							flex-direction: column;
						}
					}

					.expense-payment-details {
						display: flex;
						flex-direction: row;
						gap: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.expenses-wrapper {
		.expenses-list {
			.expense-details {
				width: calc(100% - 20px);

				.expense-create-wrapper {
					.expense-info-wrapper {
						flex-direction: row;
						align-items: center;
						.created-date {
							margin-bottom: 0;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}

	.dashboard-wrapper {
		.button-wrapper {
			.add-btn {
				font-size: 14px;
				font-weight: 400;
				padding: 15px;
				border-radius: 10px;
			}
		}
	}

	.navbar-default {
		.navbar-static-side {
			width: 65px;
		}
	}

	.expenses-wrapper {
		h2 {
			font-size: 25px;
		}
	}
}
